html {
  font-family: verdana, helvetica;
  font-size: 16px;
}

header {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
}

h1 {
  color: black;
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  padding: .5rem 0;
  margin: 0 0;
}

#logo {
  font-size: 1.25rem;
}

.headlogo {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

.headlogo img {
  height: 2rem;
}

.links nav {
  margin-right: 1.5rem;
}

.mobile-links {
  display: none;
}

a {
  text-decoration: none;
  padding: 0 .5rem;
  color: black;
  font-size: 1.25rem;
  transition-property: background-color, color;
  transition-duration: 500ms;
}

a:hover {
  background-color: #7161E8;
  color: white;
}

.box {
  display: flex;
  width: 100%;
}

.banner {
  background-color: #778CFF;
  width: 100%;
}

.left-box {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.left-box img {
  margin: 2rem 1.5rem;
  max-width: 100%;
}

.right-box {
  width: 40%;
}

.button {
  display: block;
  max-width: 80%;
  padding: .5rem 0;
  margin-top: 1.5rem;
  text-align: center;
  background-color: #7161E8;
}

.button h3 {
  color: white;
  font-weight: bold;
}

.moto-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.moto {
  display: block;
  padding: 1.5rem 0;
  max-width: 80%;
}

.quote {
  display: block;
  margin-left: 1.5rem;
}

.quote span {
  display: flex;
  padding-top: .5rem;
  padding-bottom: 2rem;
}

.info {
  margin: 0 0;
  padding-top: 1rem;
  align-items: center;
}

.feature-img {
  max-width: 35%;
}

.mobile-img {
  display: none;
}

.feature-img img {
  max-width: 100%;
  padding: 1rem 1rem;
}

.feature {
  display: flex;
}

.even {
  background-color: #778CFF;
}

.odd {
  background-color: white;
}

.feature-info {
  display: flex;
  margin-left: 1rem;
  flex-direction: column;
  justify-content: center;
}

.feature-info span {
  padding: .25rem .75rem;
}

.title {
  display: block;
  width: 100%;
  padding: 2rem 0;
  text-align: center;
}

.mobile-courses {
  display: none;
}

.courses {
  display: flex;
  flex-direction: column;
  background-color: #778CFF;
}

.course-box {
  display: flex;
  padding: 0 3.5rem;
}

.course {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  margin: 0 1rem 2rem 1rem;
  background-color: white;
}

.course img {
  max-width: 100%;
  height: auto;
}

.course-info {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 1.5rem 1rem;
}

video {
  background-color: #5c5c8a;
  margin: 0 1.5rem 1.5rem 1.5rem;
  max-width: 100%;
}

.thesis-display{
  display: flex;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #778CFF;
}

.copyright {
  padding: 1rem 1.5rem;
}

footer a {
  text-decoration: none;
  color: black;
  padding-right: 1rem;
}

.legal {
  padding: .5rem;
}

@media only screen and (max-width: 470px) {

  .headlogo, .links, .info-quote, .course-box, .quote, .news, .legal, .desktop-img {
    display: none;
  }

  .mobile-links {
    display: flex;
    width: 100%;
  }

  .mobile-nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .mobile-nav a img {
    height: 2rem;
  }

  .box {
    flex-direction: column;
  }

  .left-box {
    width: 100%;
  }

  .right-box {
    width: 100%;
  }

  .moto {
    padding: 2rem 0 0 1rem;
    max-width: 100%;
  }

  .button {
    padding: 1.5rem 0;
/*    margin-right: 32px;*/
    margin: 1.5rem 1rem 2rem 1rem;
    max-width: 100%;
  }

  .left-box img {
    margin: 0 0;
  }

  .feature {
    flex-direction: column;
/*    width: 100%;*/
  }

  .mobile-img {
    display: flex;
  }

  .feature-img {
    max-width: 100%;
  }

  .feature-info {
    padding-bottom: 4rem;
  }

  .courses {
    background-color: white;
    border: .5px solid #6199E8;
  }

  .mobile-courses {
    display: flex;
    flex-direction: column;
    padding: .75rem 0 1.75rem 0;
  }

  .m-course-box {
    display: block;
    margin: .25rem 1rem;
    background-color: #778CFF;
  }

  .m-course-box h2 {
    padding: 1rem 0 1.5rem 1rem;
  }

  .title {
    padding: 2rem 0 1rem 0;
  }

}
